@import "https://fonts.googleapis.com/css?family=Quicksand";
:root {
  --background-color: #ffffff;
  --background-blur: #ebebeb7a;
  --green-color-medium: #1ed760;
  --green-color-light: #1ed75fd5;
  --green-color-dark: #1bc556d0;
  --green-color-off: #28c76059;
  --green-color-alpha: #28c76069;
  --green-color-alpha-hard: #00ff5959;
  --green-blue-color: #33b8b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--green-color-alpha-hard);
}

html {
  font-size: 5vw;
}

body {
  background: var(--background-color);
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Quicksand";
  font-weight: bold;
}
body .getTokenReqAnimWrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(3px);
  display: grid;
  place-items: center;
}
body .getTokenReqAnimWrapper .getTokenReqAnimBox {
  background: var(--green-color-off);
  width: 5rem;
  height: 0.8rem;
  border-radius: 1rem;
  overflow: hidden;
}
body .getTokenReqAnimWrapper .getTokenReqAnimBox .getTokenReqAnim {
  width: 2.5rem;
  height: 100%;
  background: var(--green-color-medium);
  border-radius: 1rem;
  transform: translateX(-1rem);
  animation: getTokenReqAnimation 1s ease-in-out infinite alternate;
}

@keyframes getTokenReqAnimation {
  100% {
    transform: translateX(4rem);
  }
}
.main-section .inputs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-section .inputs-section .input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .inputs-section .filters-inputs {
  background: transparent;
  outline: none;
  color: var(--green-color-medium);
  border-radius: 1rem;
  padding: 0 1.8rem;
  text-align: center;
  width: 15rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Quicksand";
  font-weight: bold;
  transition: 0.3s;
}
.main-section .inputs-section .filters-inputs::placeholder {
  font-size: 1rem;
  user-select: none;
  color: var(--green-color-alpha);
  transition: 0.3s;
}
.main-section .inputs-section .filters-inputs ~ .clear-input-icon {
  color: var(--green-color-alpha);
  position: absolute;
  width: 1.4rem;
  height: 100%;
  transform: translateX(6.3rem);
  display: none;
  cursor: pointer;
}
.main-section .inputs-section .filters-inputs:focus {
  border: 0.1rem solid var(--green-color-light) !important;
}
.main-section .inputs-section .filters-inputs:focus + .inputs-labels {
  color: var(--green-color-light) !important;
}
.main-section .inputs-section .filters-inputs:first-child:focus ~ .artists-search-list-wrapper {
  display: flex;
}
.main-section .inputs-section .filters-inputs:placeholder-shown {
  border: 0.1rem solid var(--green-color-off);
}
.main-section .inputs-section .filters-inputs:not(:placeholder-shown) {
  border: 0.1rem solid var(--green-color-light);
}
.main-section .inputs-section .filters-inputs:not(:placeholder-shown):focus ~ .clear-input-icon {
  display: initial;
}
.main-section .inputs-section .filters-inputs:not(:placeholder-shown) + .inputs-labels {
  color: var(--green-color-light);
}
.main-section .inputs-section .inputs-labels {
  color: var(--green-color-off);
  background: var(--background-color);
  transform: translate(1rem, -0.55rem);
  padding: 0 0.3rem;
  position: absolute;
  align-self: flex-start;
  user-select: none;
  font-size: 0.8rem;
  transition: 0.3s;
}
.main-section .inputs-section .artists-search-list-wrapper {
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--background-blur);
  position: absolute;
  margin-top: 2.7rem;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  user-select: none;
  z-index: 1;
}
.main-section .inputs-section .artists-search-list-wrapper .artists-search-item {
  width: 11rem;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.main-section .inputs-section .artists-search-list-wrapper .artists-search-item:first-child {
  /* i don't use padding-top in wrapper cause wrapper don't hide when there is no items and needs more code for that*/
  margin-top: 0.5rem;
}
.main-section .inputs-section .artists-search-list-wrapper .artists-search-item:last-child {
  /* i don't use padding-bottom in wrapper cause wrapper don't hide when there is no items and needs more code for that*/
  margin-bottom: 0.5rem;
}
.main-section .inputs-section .artists-search-list-wrapper .artists-search-item .artists-search-item-img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  /* for alt */
  font-size: 0.5rem;
}
.main-section .inputs-section .artists-search-list-wrapper .artists-search-item .artists-search-item-name {
  color: var(--green-blue-color);
  width: 8.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-section .actions-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.5rem;
}
.main-section .actions-section .shuffle-button {
  width: 4rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
