@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "https://fonts.googleapis.com/css?family=Quicksand";
:root {
  --background-color: #ffffff;
  --green-color-medium: #1ed760;
  --green-color-light: #1ed75fd5;
  --green-color-dark: #1bc556d0;
  --green-color-off: #28c76059;
  --green-color-alpha: #28c76069;
  --green-color-alpha-hard: #00ff5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--green-color-alpha-hard);
}

html {
  font-size: 5vw;
}

body {
  background: var(--background-color);
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Quicksand";
  font-weight: bold;
}

.main-section .filters-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-section .filters-section .filters-inputs {
  background: transparent;
  outline: none;
  color: var(--green-color-medium);
  border-radius: 1rem;
  padding: 0 1.8rem;
  text-align: center;
  width: 15rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: "Quicksand";
  font-weight: bold;
  transition: 0.3s;
}
.main-section .filters-section .filters-inputs::placeholder {
  font-size: 1rem;
  user-select: none;
  color: var(--green-color-alpha);
  transition: 0.3s;
}
.main-section .filters-section .filters-inputs ~ .clear-input-icon {
  color: var(--green-color-alpha);
  position: absolute;
  width: 1.1rem;
  transform: translate(-1.7rem, 0.7rem);
  display: none;
  cursor: pointer;
}
.main-section .filters-section .filters-inputs:focus {
  border: 0.1rem solid var(--green-color-light) !important;
}
.main-section .filters-section .filters-inputs:focus + .filters-labels {
  color: var(--green-color-light) !important;
}
.main-section .filters-section .filters-inputs:placeholder-shown {
  border: 0.1rem solid var(--green-color-off);
}
.main-section .filters-section .filters-inputs:not(:placeholder-shown) {
  border: 0.1rem solid var(--green-color-light);
}
.main-section .filters-section .filters-inputs:not(:placeholder-shown):focus ~ .clear-input-icon {
  display: initial;
}
.main-section .filters-section .filters-inputs:not(:placeholder-shown) + .filters-labels {
  color: var(--green-color-light);
}
.main-section .filters-section .filters-labels {
  color: var(--green-color-off);
  background: var(--background-color);
  transform: translate(-13.8rem, -0.5rem);
  padding: 0 0.3rem;
  position: absolute;
  user-select: none;
  font-size: 0.8rem;
  transition: 0.3s;
}

.main-section .actions-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.5rem;
}
.main-section .actions-section .favorites-button {
  fill: var(--green-color-dark);
  position: absolute;
  transform: translate(-5rem, 0.2rem);
  cursor: pointer;
  display: none;
}
.main-section .actions-section .favorites-button .favorites-icon {
  width: 2rem;
  display: flex;
}
.main-section .actions-section .shuffle-button {
  width: 4rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
