// cares about pacifico font
@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "https://fonts.googleapis.com/css?family=Quicksand";

:root {
  --background-color: #ffffff;
  --green-color-medium: #1ed760;
  --green-color-light: #1ed75fd5;
  --green-color-dark: #1bc556d0;
  --green-color-off: #28c76059;
  --green-color-alpha: #28c76069;
  --green-color-alpha-hard: #00ff5959;
  --green-blue-color: #33b8b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--green-color-alpha-hard);
}

html {
  font-size: 5vw;
}

body {
  background: var(--background-color);
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Quicksand";
  font-weight: bold;
}

.main-section {
  .inputs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .input-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .filters-inputs {
      background: transparent;
      outline: none;
      color: var(--green-color-medium);
      border-radius: 1rem;
      padding: 0 1.8rem;
      text-align: center;
      width: 15rem;
      height: 2.5rem;
      font-size: 1rem;
      font-family: "Quicksand";
      font-weight: bold;
      transition: 0.3s;

      &::placeholder {
        font-size: 1rem;
        user-select: none;
        color: var(--green-color-alpha);
        transition: 0.3s;
      }

      & ~ .clear-input-icon {
        color: var(--green-color-alpha);
        position: absolute;
        width: 1.1rem;
        transform: translate(6.3rem, 0.7rem);
        display: none;
        cursor: pointer;
      }

      &:focus {
        border: 0.1rem solid var(--green-color-light) !important;

        + .inputs-labels {
          color: var(--green-color-light) !important;
        }
      }

      &:first-child:focus ~ .artists-search-list-wrapper {
        display: flex;
      }

      &:placeholder-shown {
        border: 0.1rem solid var(--green-color-off);
      }

      &:not(:placeholder-shown) {
        border: 0.1rem solid var(--green-color-light);

        &:focus ~ .clear-input-icon {
          display: initial;
        }

        + .inputs-labels {
          color: var(--green-color-light);
        }
      }
    }

    .inputs-labels {
      color: var(--green-color-off);
      background: var(--background-color);
      transform: translate(1rem, -0.55rem);
      padding: 0 0.3rem;
      position: absolute;
      align-self: flex-start;
      user-select: none;
      font-size: 0.8rem;
      transition: 0.3s;
    }

    .artists-search-list-wrapper {
      width: 90%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background: #ebebeb7a;
      position: absolute;
      margin-top: 2.7rem;
      border-radius: 1rem;
      backdrop-filter: blur(2px);
      user-select: none;
      z-index: 1;

      .artists-search-item {
        width: 11rem;
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &:first-child {
          /* i don't use padding-top in wrapper cause wrapper don't hide when there is no items and needs more code for that*/
          margin-top: 0.5rem;
        }

        &:last-child {
          /* i don't use padding-bottom in wrapper cause wrapper don't hide when there is no items and needs more code for that*/
          margin-bottom: 0.5rem;
        }

        .artists-search-item-img {
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          /* for alt */
          font-size: 0.5rem;
        }

        .artists-search-item-name {
          color: var(--green-blue-color);
          width: 8.5rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

.main-section {
  .actions-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.5rem;

    .favorites-button {
      fill: var(--green-color-dark);
      position: absolute;
      transform: translate(-5rem, 0.2rem);
      cursor: pointer;
      display: none;

      .favorites-icon {
        width: 2rem;
        display: flex;
      }
    }

    .shuffle-button {
      width: 4rem;
      cursor: pointer;
    }
  }
}
